<!DOCTYPE html>
<!-- {% load static %} -->

<html lang="en">
<head>

    <meta charset="UTF-8">

    <!-- req meta tag for caro -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Burger Wars home page  </title>

    <!-- Bootstrap CSS for caro -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style1.css" type="text/css">


    <link rel="stylesheet" href="../../static/css/style1.css">

    <link rel="stylesheet" href="../../static/css/style2.css">



</head>
<body>

<nav>
    <div class="logoa"><h1>Burger Wars </h1></div>
    <ul>
        <li><a href="{% url 'burgerwars:home' %}">Home</a></li>
        <li><a href="{% url 'burgerwars:bwmenucat' %}">Menu</a></li>
        <li><a href="{% url 'burgerwars:about' %}">About</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="#">User Login</a></li>
        <!--            <li><a href="#">Feedback</a></li> -->
    </ul>
</nav>

<section>


    <div class="container1" style="padding-top: 200px;">

        <h1m class="text-center" >Categories</h1m><br/>
        <br/><br/>
        <a href="burgeritems.html">
            <div class="box-3 float-container">
                <img src="../../static/css/imagesaver.png" width="200" height="150" alt="Cappuccino" class="img-responsive img-curve">

                <h3 class="float-text text-white">Burger</h3>
            </div>
        </a>
        <a href="drinkitems.html">
            <div class="box-3 float-container">
                <img src="../../static/css/imagesaver.png" width="200" height="150" alt="Breakfast" class="img-responsive img-curve">

                <h3 class="float-text text-white">Drinks</h3>
            </div>
        </a>

        <a href="appetitems.html">
            <div class="box-3 float-container">
                <img src="../../static/css/imagesaver.png" width="200" height="150" alt="Lunch" class="img-responsive img-curve">

                <h3 class="float-text text-white">Apps</h3>
            </div>
        </a>



        <div class="clearfix"></div>

    </div>



</section>




</body>
</html>