<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment checkout </title>
    <link rel="stylesheet" href="../../static/css/styles3.css">
</head>
<body>



<nav>
  <div class="logoa"><h1>Burger Wars </h1></div>
  <ul>
    <li><a href="{% url 'burgerwars:home' %}">Home</a></li>
    <li><a href="{% url 'burgerwars:bwmenucat' %}">Menu</a></li>
    <li><a href="{% url 'burgerwars:about' %}">About</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="#">User Login</a></li>
    <!--            <li><a href="#">Feedback</a></li> -->
  </ul>
</nav>




<div class="wrapper">
  <div class="checkout_wrapper">
    <div class="product_info">
      <img src="logoburger1.png" alt="product" >
      <div class="content">
        <h3>Burger <br/>Wars</h3>
<!--        <p>$50</p> -->
      </div>
    </div>
    <div class="checkout_form">
<!--      <p>Payment Section</p> -->
      <div class="details">
        <div class="sectionc">
          <input type="text" placeholder="Cardholder name">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="email address">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="delivery adress">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="zip code">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="Card number">
        </div>
        <div class="sectionc last_sectionc">


          <div class="item">
            <input type="text" placeholder="Expire Date">
          </div>

          <div class="item">
            <input type="text" placeholder="CVV">
          </div>



        </div>

        <div class="btn">
          <a href="#">Pay</a>
        </div>
      </div>
    </div>
  </div>



</div>

</body>
</html>