<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment checkout </title>
    <link rel="stylesheet" href="../../static/css/styles3.css">
</head>
<body>



<nav>
  <div class="logoa"><h1>Burger Wars </h1></div>
  <ul>
    <li><a href="{% url 'burgerwars:home' %}">Home</a></li>
    <li><a href="{% url 'burgerwars:bwmenucat' %}">Menu</a></li>
    <li><a href="{% url 'burgerwars:about' %}">About</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="{% url 'login'%}?next={{request.path}}">User Login</a></li>
    <!--            <li><a href="#">Feedback</a></li> -->
  </ul>
</nav>

<div class="wrapper">
  <div class="checkout_wrapper">
    <div class="product_info">
      <img src="{% static "images/" %}{{ productImage }}" alt="product" style="max-width: 220px; margin: 10px 10px 0px 10px; border-radius: 10px;">
      <div class="content" style="color: #ffffff;">
          <h2>{{ productName }}</h2>
          <h4 style="margin-top: 10px;">${{ productPrice }}</h4>
          <p class="checkout-text">Product ID:{{ productID }}</p>
          <img src="{% static "images/burgerWarsFont.png" %}" style="margin: 0;">
<!--        <p>$50</p> -->
      </div>
    </div>
    <div class="checkout_form">
      <form action="" method="post">
      <div class="details">
        <div class="sectionc">
          <input type="text" placeholder="Cardholder name" name="name">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="delivery address" name="address">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="zip code" name="zip">
        </div>

        <div class="sectionc">
          <input type="text" placeholder="Card number" name="card">
        </div>
        <div class="sectionc last_sectionc">


          <div class="item">
            <input type="text" placeholder="Expire Date" name="exp">
          </div>

          <div class="item">
            <input type="text" placeholder="CVV" name="cvv">
          </div>
        </div>



        <form method="POST" class="post-form" action="{% url 'burgerwars:confirmation' %}">
            {% csrf_token %}
            <div class="sectionc">
                <input type="text" placeholder="email address" name="email">
            </div>
              <!--<input type="submit">-->
            <div class="btn">
              <a href="{% url 'burgerwars:confirmation' %}">Pay</a>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>