<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment checkout </title>
    <link rel="stylesheet" href="../../static/css/styles3.css">
</head>
<body>



<nav>
  <div class="logoa"><h1>Burger Wars </h1></div>
  <ul>
    <li><a href="{% url 'burgerwars:home' %}">Home</a></li>
    <li><a href="{% url 'burgerwars:bwmenucat' %}">Menu</a></li>
    <li><a href="{% url 'burgerwars:about' %}">About</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="{% url 'login'%}?next={{request.path}}">User Login</a></li>
    <!--            <li><a href="#">Feedback</a></li> -->
  </ul>
</nav>

<div class="wrapper">
  <div class="checkout_wrapper">
    <div class="product_info">
      <img src="{% static "images/" %}{{ productImage }}" alt="product" style="max-width: 220px; margin: 10px 10px 0px 10px; border-radius: 10px;">
      <div class="content" style="color: #ffffff;">
          <h2>{{ productName }}</h2>
          <h4 style="margin-top: 10px;">${{ productPrice }}</h4>
          <p class="checkout-text">Product ID:{{ productID }}</p>
          <img src="{% static "images/burgerWarsFont.png" %}" style="margin: 0;">
<!--        <p>$50</p> -->
      </div>
    </div>
    <div class="checkout_form">
      <form method="POST" class="post-form" action="{% url 'burgerwars:confirmation' %}">
          <div class="details">
            <div class="sectionc">
              <input type="text" placeholder="Cardholder name" name="name" required>
            </div>

            <div class="sectionc">
              <input type="text" placeholder="delivery address" name="address" required>
            </div>

            <div class="sectionc">
              <input type="text" placeholder="zip code" name="zip" required>
            </div>

            <div class="sectionc">
              <input type="text" placeholder="Card number" name="card" required>
            </div>
            <div class="sectionc last_sectionc">


              <div class="item">
                <input type="text" placeholder="Expire Date" name="exp" required>
              </div>

              <div class="item">
                <input type="text" placeholder="CVV" name="cvv" required>
              </div>
            </div>
            {% csrf_token %}
            <div class="sectionc">
                <input type="email" placeholder="email address" name="email" required>
            </div>
              <!--<input type="submit">-->
            <div class="btn">
                    <input type="submit" value="Pay" style="background-color: rgba(0, 0, 0, 0); border: none; color: #ffffff; width: 100%; height: 100%; cursor: pointer;">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>